.heart-icon {
    fill:rgb(177, 174, 174);/* Optional transition for smooth color change */
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.25s;
    height: 3em;
    width: 3em;
    padding: 0.70em;
    border-radius: 50%;
 /* Add cursor pointer to indicate it's clickable */
  }
/* Color for liked */

.heart-icon.clicked {
    fill: red; 
/* Change the fill to red when the icon is liked */
  }

  
  
.heart-icon:hover {
    /* add a background on hover */
    background-color: #f1f1f1;
    /* pointer cursor on hover */
    cursor: pointer;
  }

  /* #f8f7fa */
.navbar{
    background-color: rgba(252, 252, 252, 0)!important;
    opacity:1;
   
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-brand.nav-link{
    color:#f05537!important;
}
.nav-link{
    color:#39364f!important;
}
.login-tag, .fw-bold{
    font-size: 3.25rem;
    line-height: 3rem;
}
.d-grid .btn{
    background-color: #f05537!important;
    border:none;
}
.loginimage{
    background-image: url("{% static 'app/images/loginimage.jpg' %}");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Poppins', serif;
}
.eventname{
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: .25px;
    margin-right: -0.25px;
    font-weight: 600;
}
.eventdate,.eventlocation{
    font-size: .875rem;
    line-height: 1.00rem;
}


body{
    /* applying Poppins font to all texts */
    font-family: 'Poppins', sans-serif;
}

.eventrow{
    transition:box-shadow 1s,
    padding 1s,border-radius 1s;
}
.eventrow:hover{
    /* on hovering over events a box shadow appears  */
    border-radius: 20px;
    /* padding: 15px 10px; */
    box-shadow: 2px 2px 10px #888888;
    

}
